# Параметры Django
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Параметры PostgreSQL
DB_NAME=shift_scheduler
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Почта (по умолчанию письма выводятся в консоль и наружу не отправляются)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend



# На сервере:

SECRET_KEY=*s-dv26u-oxb7i@61)3q^+qp+a7r8k*&78le40l*0=e&2ow6^1
DEBUG=False
ALLOWED_HOSTS=77.81.5.68,shiftschedulerproject.ru

DB_NAME=shift_scheduler
DB_USER=postgres
DB_PASSWORD=WASD123!
DB_HOST=127.0.0.1
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
